.about
  padding: 100px 0
  background: linear-gradient(to bottom right, #ffffff, #f0f0f5)
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  border-radius: 15px
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  transition: transform 0.3s ease-in-out

  &:hover
    transform: translateY(-10px)

.tecnologías
  padding: 1em
  background: #f7f7f7
  width: 100%
  display: flex
  flex-flow: row wrap
  align-content: space-between
  text-align: center

  h2
    font-size: 2.5rem
    color: #333
    margin-bottom: 40px
    text-transform: uppercase
    letter-spacing: 1.5px

.experience
  padding: 15px 0
  background: #f4f4f4
  text-align: center  
  
  .experience-list
    display: flex
    flex-direction: column
    gap: 40px

  .experience-item
    background: #f9f9f9
    padding: 20px
    border-radius: 15px
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
    transition: all 0.3s ease-in-out

    &:hover
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
      transform: translateY(-5px)

    h3
      font-size: 1.8rem
      color: #333

    p
      margin: 10px 0
      color: #666